.App {
  text-align: left;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  padding-left: 15%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.navbar {
  background-color: antiquewhite;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(194, 155, 0);
}
.nav-link {
  color: rgb(194, 155, 0);
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
}


.Left-column {
  float: left;
  width: 15%;
}

.Right-column {
  float: left;
  width: 80%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Todays-products {
  display: flex;
  flex-direction: row;
}

/* App.css
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: #333;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-link:hover {
  text-decoration: underline;
} */